html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Roboto+Condensed")
  style.
    @font-face {
      font-family: 'owfont';
      src: url('/fonts/owfont.ttf');
    }
    .wrap {
      height: 90px;
      background: white;
      display: inline-block;
    }
    body {
      font-family: 'owfont';
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
    .inline {
      display: inline-block;
      vertical-align: middle;
    }
    .rank {
      background-color: rgb(144, 33, 191);
      color: white;
      width: 150px;
      padding: 0 10px;
    }
    .playername {
      padding: 15px;
      width: 350px;
    }
    .time {
      padding: 20px;
      text-align: right;
    }
    .heros img {
      margin: 0; padding: 0;
    }
    .heros table {
      border-collapse: collapse;
    }

    .heros table td {
      padding: 0;
    }
    .time-progress {
      background-color: black;
      height: 30px;
    }

    .heros table td.time-cell {
      padding: 0px;
    }

    .hero-time {
      width: 133px;
      line-height: 30px;
      color: #000;
      text-align: center;
    }
    .bottom {
      font-size: 19px;
      text-align: center
    }
    .top {
    text-align: center;
    }
  body
    .wrap
      .inline.avatar
        img.inline(src=user.stats.quickplay.overall_stats.avatar height=90)
      .inline.rank
        img.inline(src=user.ranking.img height=90)
        div.inline=user.rank
      .inline.playername
        div
          .top #{user.overwatch_id}, LEVEL #{user.reallevel}
          .bottom  #{user.time_played}h, #{user.winrate}%, #{user.games} games
      .inline.heros
        table.inline
          each val in [0,1,2]
              tr
                td
                  img(src=user.hero_static[playtime[val].hero].icon height=30)
                -var style = "width: " + playtime[val].percent * 150.0 + "px; background-color: " + user.hero_static[playtime[val].hero].color
                td.time-cell
                  div.time-progress(style=style)
                    div.hero-time #{Math.ceil(playtime[val].playtime)}h, #{Math.ceil(playtime[val].win * 100)}%
